@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;@600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: rgba(241, 235, 235, 0.452);
}

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    background-color:rgba(0, 0, 0, 0.1);
}
#navbar .logo {
    font-size: 28px;
    font-weight: bold;
}
.nav-links ul li {
    list-style-type: none;
    display: inline-block;
    padding: 20px 10px;
    text-align: center;
    font-size: 16px;
}
.nav-buttons {
    font-size: 16px;
}
.nav-buttons a:last-of-type{
    background-color: #23A6F0;
    margin-left: 10px;
    padding: 8px;
    border-radius: 4px;
}
.nav-icons img {
    height: 25px;
    display: none;
}

#navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* home section design */
#banner-section {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),
      url("./images/hero-cover.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.banner {
    color: #fff;
    padding: 30px;
    text-align: center;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: 40%;
    position: relative;
}
.banner-content {
    margin-top: 20%;
}
.banner h3{
    font-size: 3em;
    margin-top: 50px;
    
}
.banner p {
    font-size: 20px;
    margin-top: 20px;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}
.buttons a {
    text-decoration: none;
    border: 1px solid white;
    border-radius: 30px;   
    width: auto;
    padding: 14px;
    margin: 8px;
    color: #fff;
}
a.join-button {
    background-color: #23A6F0;
}

/* flashcards */
.main-flash-cards {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 85%;

}
.card {
    background-color: #fff;
    width: 20%;
    padding: 20px;
    margin: 10px;
}
.card:last-of-type {
    background-color: #23A6F0;
    color: #fff;
}
.card img {
    height: 80px;
}
.card p {
    color: #595b5e;
    padding-top: 20px;
}

/* sub banner section */
#product {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #fff;
}
.sub-banner-card {
    width: 15%;
    padding: 20px;
    text-align: center;
    margin: 20px;
}
.sub-banner-card img {
    height: 60px;
}
.sub-banner-card h3 {
    font-size: 1.2em;
    padding-bottom: 10px;
}

/* testimonials */
#testimonials{
    height: 100vh;
    padding: 20px;
}
.info {
    width: 40%;
    margin: 10px auto;
    text-align: center;
    padding-bottom: 20px;
}
.info h4 {
    font-size: 2em;
    margin-bottom: 10px;
}
.info p {
    font-size: 1.4em;
    color: #969090;
}

#profile-cards {
    display: flex;
    justify-content: center;
}
.sub-cards {
    border: 1px #cecccc solid;
    width: 300px;
    height: auto;
    margin: 20px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    border-radius: 6px;
}
.sub-cards img {
    height: 180px;
    margin-bottom: 10px;
}
.sub-cards p {
    font-weight: 400;
}

.rating {
    margin-top: 10px;
    padding: 20px;
}
.rating span img {
    height: 20px;
}

/* style form section */
.partners {
    display: flex;
    justify-content: center;
}
.partners span img {
    cursor: pointer;
    height: 40px;
    margin: 20px;
}

#subscribe-form {
    margin: 10px auto;
    width: 70%;
    padding: 20px;
    
}
.first-form {
    padding: 20px;
    background: linear-gradient(to right, #363C88, #D14F88);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
form p {
    color: #fff;
    font-weight: 600;
    font-size: 2em;
}
form .inputs-field {
    position: relative;
}
.inputs-field input[type="text"]{
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 8px;
    padding: 0 10px;
    
}
form button {
    height: 40px;
    border: none;
    border-radius: 0 8px 8px 0;
    padding: 10px;
    color: #fff;
    background-color: #23A6F0;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

/* prices section */
#pricing {
    height: 100vh;
    padding: 20px;
    /* display: flex; */
    /* justify-content: center; */
}
.pricing-header {
    text-align: center;
    margin-bottom: 40px;
}
.pricing-header h4 {
    font-weight: 800;
    font-size: 3em;
    margin-bottom: 20px;
}
.pricing-header p {
    color: #615e5e;
}
.price-cards {
    display: flex;
    justify-content: center;
}
#card {
    width: 20%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    border: 1px #23A6F0 solid;
}
#card .title {
    font-weight: 800;
    font-size: 2em;
    margin: 10px;
    text-align: center;
}
#card .description {
    text-align: center;
    font-size: 1em;
}
#card.card-2 {
    transform: scale(1.1);
    background-color: #252B42;
    color: #fff;
}
span.amount{
    /* text-align: center; */
    font-size: 2em;
}
.price-range {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    padding: 20px;
}
.list-items li{
    /* margin-left: 30px; */
    font-size: 1.2em;
}
span.amount {
    color: #23A6F0;
}
.amount::after {
    content: '$';
    font-size: 0.4em;
    vertical-align: top;
    color: #23A6F0;
}
span.time {
    font-size:.8em;
    vertical-align:text-bottom;
    color: #23A6F0;
}
#coverage li {
    padding: 8px;
    list-style: none;
    padding: 10px 10px 5px 40px;
    list-style: none;
    margin: 2px;
    vertical-align: middle;
}
ul li.check{
    background: url('./images/icons/greenCheck.png') left center no-repeat;
    
}
ul li.unchecked {
    background: url('./images/icons/greyCheck.png') left center no-repeat;
}
.btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
a.buy-button {
    background-color: #23A6F0;
    border-radius: 8px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    width: 80%;
    text-align: center;
}

/* style location section */
#location {
    height: 100vh;
    padding: 20px;
    background-color: #252B42;
    color: #fff;
    display: flex;
    flex-direction: row;

    position: relative;
}
.location-info {
    width: 50%;
    padding: 30px;
    margin: 40px;
}
p.heading {
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 20px;
}
.location-image {
    width: 60%;
    margin: 60px;
}

/* appointment form */
#appointment-form {
    background: #f1f7fc;
    /* padding: 80px; */
    height: 400px;
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    margin: 10px auto;

    position: absolute;
    top: 60%;
    left: 25%;
}
.form-container {
    width: 50%;
    margin: 10px;
    background: #f1f7fc;
    height: 400px;
    display: flex;
    flex-direction: row;
    margin: 10px auto;

    position: absolute;
    top: 60%;
    left: 25%;
}

.form-photo img {
    height: 100%;
}
.booking-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 80%;
}

.booking-form h2 {
    color: #000;
    margin-bottom: 20px;
    text-align: center;
}
.field {
    width: 90%;
    height: 40px;
    margin: 10px;
    border: 1px solid rgba(175, 173, 173, 0.822);
    border-radius: 8px;
    padding: 0 10px;
}
.submit-btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.submit-btn a {
    background-color: rgb(35, 166, 240);
    border-radius: 8px;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    width: 60%;
    text-align: center;
}


/* Contacts section */
.contacts-sub-container {
    margin-top: 100px;
}
#contact {
    height: 100vh;
    background-color: #ece9e9e3;
    padding: 20px 0 ;
}
.outro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 70%;
    margin: 0 auto;
}
.outro p{
    font-size: 1.2em;
    font-weight: bold;
}
.outro a {
    background-color: #23a6f0;
    border-radius: 8px;
    padding: 14px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

#contacts-details {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    margin-top: 60px;
}
.contact-row {
    padding: 30px;
    width: 60%;
    margin: 20px auto;
}
.contact-row p{
    font-size: 1.2em;
    font-weight: 700;
}
.contact-row ul li {
    list-style-type: none;
    padding: 8px 0;
}
.contact-row ul li a{
    text-decoration: none;
    color: #6d6a6a;
}

/* footer */
#footer {
    padding: 20px;
    position: relative;
    bottom: 0;

    display: flex;
    justify-content: space-evenly;
}

/* mobile devicess design */
/* below style is in action when screen is (=<specified width) */
@media screen and (max-width: 760px) {
    body {
        display: flex;
        flex-direction: column;
        width: 100%; /* stactks all items vertically*/
    }
    #navbar {
        background-color: #b0b6b6;
        flex-direction: column;
        position: relative;
    }
    #navbar a {
        color: #fff;
    }
    .nav-icons img{
        display: block;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .logo {
        width: 100%;
        margin-left: 10px;
        margin-top: 10px;
    }
    .nav-links ul li {
        display: block;
        padding: 10px;
    }
    .nav-links {
        padding-top: 10px;
        width: 100%;
    }
    .nav-buttons {
        display: none;
    }

    /* style home section */
    #banner-section {
        height: 180vh;
    }
    .banner {
        width: 100%;
    }
    .banner-content h3{
        margin-top: 10px;
        font-size: 2em;
    }

    .main-flash-cards {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
    }
    .card {
        width: 70%;
        margin: 4px auto;
    }

    /* product section */
    #product {
        height: 100vh;
        justify-content: center;
        flex-direction: column;
    }
    .sub-banner-card  {
        width: 100%;
    }

    /* industy section */
    #testimonials {
        width: 100%;
        height: auto;
    }
    #profile-cards {
        width: 80%;
        margin: 6px auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    /* products section */

}
