* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

#navbar {
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.nav-links ul li {
    list-style-type: none;
    display: inline-block;
    padding: 20px 10px;
    text-align: center;
}


.nav-icons img {
    height: 25px;
    display: none;
}

#navbar a {
    text-decoration: none;
    color: #000;
}


/* mobile device design */
/* below style is in action when screen is (=<specid=fied width) */
@media screen and (max-width: 760px) {
    #navbar {
        background-color: #b0b6b6;
        flex-direction: column;
        position: relative;
    }
    #navbar a {
        color: #fff;
    }
    .nav-icons img{
        display: block;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .logo {
        width: 100%;
        margin-left: 10px;
        margin-top: 10px;
    }
    .nav-links ul li {
        display: block;
        padding: 10px;
    }
    .nav-links {
        padding-top: 10px;
        width: 100%;
    }
    .nav-buttons {
        display: none;
    }
}