@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;@600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: rgba(241, 235, 235, 0.452);
}

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    background-color:rgba(0, 0, 0, 0.1);
}
#navbar .logo {
    font-size: 28px;
    font-weight: bold;
}
.nav-links ul li {
    list-style-type: none;
    display: inline-block;
    padding: 20px 10px;
    text-align: center;
    font-size: 16px;
}
.nav-buttons {
    font-size: 16px;
}
.nav-buttons a:last-of-type{
    background-color: #23A6F0;
    margin-left: 10px;
    padding: 8px;
    border-radius: 4px;
}
.nav-icons img {
    height: 25px;
    display: none;
}

#navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* home section design */
#banner-section {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),
      url("./images/hero-cover.png");
    background-size: cover;
    height: 100vh;
}

.banner {
    color: #fff;
    padding: 30px;
    text-align: center;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: 40%;
}
.banner h3{
    font-size: 3em;
    margin-top: 50px;
    
}
.banner p {
    font-size: 20px;
    margin-top: 20px;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}
.buttons a {
    text-decoration: none;
    border: 1px solid white;
    border-radius: 30px;   
    width: auto;
    padding: 14px;
    margin: 8px;
    color: #fff;
}
a.join-button {
    background-color: #23A6F0;
}

/* flashcards */
.main-flash-cards {
    display: flex;
    justify-content: center;

    position: relative;
}
.card {
    background-color: #fff;
    width: 20%;
    padding: 20px;
    margin: 10px;
}
.card:last-of-type {
    background-color: #23A6F0;
    color: #fff;
}
.card img {
    height: 80px;
}
.card p {
    color: #595b5e;
    padding-top: 20px;
}

/* sub banner section */
#product {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #fff;
}
.sub-banner-card {
    width: 15%;
    padding: 20px;
    text-align: center;
    margin: 20px;
}
.sub-banner-card img {
    height: 60px;
}
.sub-banner-card h3 {
    font-size: 1.2em;
    padding-bottom: 10px;
}

/* testimonials */
#testimonials{
    height: 100vh;
    padding: 20px;
}
.info {
    width: 40%;
    margin: 10px auto;
    text-align: center;
    padding-bottom: 20px;
}
.info h4 {
    font-size: 2em;
    margin-bottom: 10px;
}
.info p {
    font-size: 1.4em;
    color: #969090;
}

#profile-cards {
    display: flex;
    justify-content: center;
}
.sub-cards {
    border: 1px #cecccc solid;
    width: 300px;
    height: auto;
    margin: 20px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    border-radius: 6px;
}
.sub-cards img {
    height: 180px;
    margin-bottom: 10px;
}
.sub-cards p {
    font-weight: 400;
}

.rating {
    margin-top: 10px;
    padding: 20px;
}
.rating span img {
    height: 20px;
}

/* style form section */
.partners {
    display: flex;
    justify-content: center;
}
.partners span img {
    cursor: pointer;
    height: 40px;
    margin: 20px;
}

#subscribe-form {
    margin: 10px auto;
    width: 70%;
    padding: 20px;
    
}
form {
    padding: 20px;
    background: linear-gradient(to right, #363C88, #D14F88);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
form p {
    color: #fff;
    font-weight: 600;
    font-size: 2em;
}
form .inputs-field {
    position: relative;
}
form input[type="text"]{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 8px;
    padding: 0 10px;
    
}
form button {
    height: 40px;
    border: none;
    border-radius: 0 8px 8px 0;
    padding: 10px;
    color: #fff;
    background-color: #23A6F0;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}


/* mobile devicess design */
/* below style is in action when screen is (=<specified width) */
@media screen and (max-width: 760px) {
    #navbar {
        background-color: #b0b6b6;
        flex-direction: column;
        position: relative;
    }
    #navbar a {
        color: #fff;
    }
    .nav-icons img{
        display: block;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .logo {
        width: 100%;
        margin-left: 10px;
        margin-top: 10px;
    }
    .nav-links ul li {
        display: block;
        padding: 10px;
    }
    .nav-links {
        padding-top: 10px;
        width: 100%;
    }
    .nav-buttons {
        display: none;
    }
}